@{
    ViewData["Title"] = "Multiplicar";
}

<div class="text-center">
    <h1 class="display-4">Multiplicar</h1>

    <form action="ResultadoMultiplicar" method="post">
    <label for="number1">Número 1:</label><br>
    <input type="text" id="number1" name="number1"><br>
    <label for="number2">Número 2:</label><br>
    <input type="text" id="number2" name="number2"><br><br>
    <input type="submit" value="Multiplicar">
    </form> 
</div>
