@{
    ViewData["Title"] = "Resultado";
}

<div class="text-center">
    <p>A operação de @ViewData["number1"] @ViewData["operation"] @ViewData["number2"] é igual a @ViewData["result"].</p>
</div>